.aboutUs {
  background: var(--color-black);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-text {
  text-align: right;
}
.about-content {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 5rem;
  z-index: 2;
}
.about-us {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;
  text-align: left;
}
.about-history {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
  color: var(--color-white);
  margin-top: -11px;
}

.headText {
  color: var(--color-white);
}
.aboutUs-knife {
  margin: 2rem 4rem;
}
.aboutUs-knife img {
  height: 550px;
}

.custom-button {
  font-family: var(--font-base);
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  border-radius: 5px;
  letter-spacing: 0.025em;
  background-color: #dcca87;
  padding: 8px 32px;
  width: 157px;
  height: 44px;
}

@media screen and (min-width: 951px) and (max-width: 2000px) {
  .about-content {
    display: flex;
  }
  .aboutUs-knife img {
    height: 25rem;
  }
  .about-us p {
    margin: 5rem 0;
    color: var(--color-grey);
    width: 50%;
  }
  .about-history p {
    margin: 5rem 0 4.5rem;
    color: var(--color-grey);
    width: 50%;
  }
}

@media screen and (min-width: 651px) and (max-width: 950px) {
  .about-content {
    display: flex;
  }
  .aboutUs-knife img {
    height: 15rem;
  }
  .about-us,
  .about-history {
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .about-us p,
  .about-history p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}

@media screen and (max-width: 650px) {
  .aboutUs-overlay {
    display: none;
  }
  .aboutUs-knife {
    display: none;
  }
  .about-us,
  .about-history {
    margin-top: 2rem;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .about-us p,
  .about-history p {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
}
