.chef {
  background: var(--color-black);
  padding-top: 5rem;
  display: flex;
}
.chef-info {
  text-align: left;
}
.chef-header {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-size: 3.5rem;
}
.chef-content {
  display: flex;
  color: var(--color-white);
  width: 100%;
  flex-direction: column;
}
.chef-img img {
  width: 30rem;
  height: 25rem;
  margin: 0 10rem;
}
.chef-sign {
  color: var(--color-white);
  width: 20%;
  margin-top: 1.5rem;
  text-align: left;
}
.chef-content-quote {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
.chef-text-quote {
  width: 80%;
  margin-top: 0.8rem;
  text-align: left;
}
.chef-content-quote img {
  height: 2rem;
  width: 2rem;
  margin: 2rem 0.5rem 0.5rem 0;
}
.chef-sign p:first-child {
  font-family: var(--font-base);
  color: var(--color-golden);
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.04rem;
  text-transform: capitalize;
}
.chef-sign p {
  font-size: 0.9rem;
  font-weight: 200;
}
.chef-sign img {
  width: 6rem;
  height: 3rem;
  margin-top: 1.5rem;
}
@media screen and (min-width: 951px) and (max-width: 1150px) {
  .chef-img img {
    width: 25rem;
    height: 25rem;
    margin: 2rem 4rem;
  }
  .chef-info {
    margin-top: 2rem;
  }
  .chef-sign {
    width: 100%;
  }
}
@media screen and (min-width: 651px) and (max-width: 950px) {
  .chef-img img {
    width: 15rem;
    height: 15rem;
    margin: 2rem;
  }
  .chef-content {
    width: 90%;
    margin-right: 0;
  }
  .chef-text {
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
  }
  .chef-content-quote img {
    margin: 1.5rem 0.4rem 0 0;
  }
  .chef-text-quote {
    text-align: left;
    margin-left: 0.7rem;
    width: 100%;
  }
  .chef-sign {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .chef {
    flex-direction: column;
    padding-bottom: 1rem;
  }
  .chef-img img {
    width: 12rem;
    height: 12rem;
    margin: 0.5rem;
  }
  .chef-info {
    margin: 2rem;
  }
  .chef-header {
    font-size: 2rem;
  }
  .chef-content,
  .chef-sign {
    margin-left: 2.5rem;
    margin-right: 0;
    width: 85%;
  }
  .chef-sign {
    width: 50%;
  }
  .chef-content-quote p {
    width: 75%;
    text-align: left;
  }
  .chef-content-quote img {
    margin: 0 0.5rem 0.5rem;
  }
  .chef-text,
  .chef-text-quote {
    font-size: 0.8rem;
    width: 100%;
  }
}
